*.swp
__pycache__
autom4te.cache
bench/bench_run
bench/bench_run[fq]
bench/bench_run_omp
bench/bench_run[fq]_omp
build
charm.pc
charm_omp.pc
charm[fq].pc
charm[fq]_omp.pc
charm-tmpl.pc
charm/*.h
charm/Makefile
config.h
config.h.in~
config.log
config.status
configure~
docs/xml/
docs/build/*
!docs/build/html
libtool
Makefile
src/**/Makefile
stamp-h1
tests/Makefile
tests/test_run
tests/test_run_omp
tests/test_run[fq]
tests/test_run[fq]_omp
wrap/pyharm/_data_types.py
wrap/pyharm/__init__.py
wrap/pyharm/lib/*
wrap/pyharm.egg-info
wrap/pyharm[f].egg-info
wrap/pyharmf
setup.py
**/.libs
**/.deps
**/*.l[ao]
**/*.o
