*.swp
__pycache__
autom4te.cache
bench/bench_run
bench/bench_run[fq]
build
charm.pc
charm[fq].pc
charm-tmpl.pc
charm/*.h
charm/Makefile
config.h
config.h.in~
config.log
config.status
configure~
docs/xml/
docs/build/*
!docs/build/html
libtool
Makefile
src/**/Makefile
stamp-h1
tests/Makefile
tests/test_run
tests/test_run[fq]
tests/mpi_test_run
tests/mpi_test_run[fq]
tests/genref_run
tests/genref_run[fq]
tests/genref-output
wrap/pyharm/_data_types.py
wrap/pyharm/__init__.py
wrap/pyharm/libcharm*.so
wrap/pyharm.egg-info
wrap/pyharm[f].egg-info
wrap/pyharmf
setup.py
**/.libs
**/.deps
**/*.l[ao]
**/*.o
